{% extends 'base.html' %}

{% block title %}
Create a new ToDo List!
{% endblock title %}


{% block content %}
<header>
    <nav>
        <a></a>
    </nav>
</header>
<main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ todo_list_form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
