{% extends 'base.html' %}

{% block title %}
Delete {{ todo_list_object.name }}
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a></a>
    </nav>
</header>
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
