{% extends 'base.html' %}

{% block title %}
Update {{ todo_list_object.name }}
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a></a>
    </nav>
</header>
<main>
    <div>
        <h1>Update list - {{ todo_list_object.name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ todo_list_form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
