{% extends 'base.html' %}

{% block title %}
Edit {{ todo_item_object.task }}
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a></a>
    </nav>
</header>
<main>
    <div>
        <h1>Update item</h1>
        <form method="post">
            {% csrf_token %}
            {{ todo_item_form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
